* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: center/100% url(./images/pexels-anntarazevich-6937461.jpg);
}

.persistent-header {
    background: center/100% url(./images/pexels-pixabay-266455.jpg);
    color: rgb(255, 188, 161);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
}

a,
h1,
h2,
h3 {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links-list a {
    color: rgb(255, 188, 161);
}

.links-list li {
    display: inline-block;
}

.main-content {
    border: 1px solid black;
    width: 1000px;
    margin: 0 auto;
    margin-top: 3vh;
    background-color: rgba(145, 87, 87, 0.92);
    padding: 10px 60px 45px;
    font-weight: 500;

}

.main-content h2 {
    color: rgb(255, 188, 161);
    text-shadow: 1px 1px 2px red;
    font-weight: 300;
    margin-bottom: 10px;
}

.main-content section hr {
    width: 800px;
    margin: 0 auto;
    border-color: red;
}

.main-content section h3 {

    font-size: 32px;
    font-weight: 400;
    text-shadow: 1px 1px 2px red;
}

.section-content {
    padding: 5px;
    margin-bottom: 50px;
}

.section-content p {
    margin: 5px;
    margin-left: 0;
    line-height: 1;
    height: 2vh;
}

.section-content img {
    float: right;
    margin-left: 10px;
    margin-top: 4vh;

}


/* About Page CSS */

.about {
    .main-content h2 {
        color: rgb(255, 188, 161);
        text-shadow: 1px 1px 2px red;
        font-weight: 300;
        margin-bottom: 10px;
        margin-left: 3%;

    }

    .main-content section hr {
        width: 90%;
        margin: 0 auto;
        border-color: red;
        margin-bottom: 2%;

    }

    .main-content section h3 {

        font-size: 32px;
        font-weight: 400;
        text-shadow: 1px 1px 2px red;
    }

    .section-content p {
        text-indent: 2%;
        margin-bottom: 2%;
    }
}

/* Tools Page CSS */

.tools {



    .main-content h2 {
        color: rgb(255, 188, 161);
        text-shadow: 1px 1px 2px red;
        font-weight: 300;
        margin-left: 3%;
        margin-bottom: 10px;
    }


    .main-content section hr {
        width: 800px;
        margin: 0 auto;
        border-color: red;
    }

    .main-content section h3 {
        font-size: 32px;
        font-weight: 400;
        text-shadow: 1px 1px 2px red;

    }

    .section-content {
        margin-top: 5px;
        margin-bottom: 10%;
    }

    .section-content img {
        float: right;
        margin-left: 10px;
        margin-top: 3vh;

    }

    section a {
        color: black;
    }



    .section-content p {
        padding: 0px 1px 1px;
        height: 10vh;
    }

    section:nth-of-type(2) .section-content img {
        float: left;
        margin-left: 0;

    }

    section:nth-of-type(4) .section-content img {
        float: left;
        margin-left: 0;
        margin-right: 2%;
    }
}

/* Contact Page CSS */
/* Scaling*/
@media(max-width:500px) {
    .main-content {
        width: 100%;
        padding: 10px 10px 45px;
    }

    .main-content h2 {
        margin-left: 0;
    }

    .main-content section hr {
        width: 100%;
    }

    .main-content section h3 {
        font-size: 24px;
    }

    .section-content img {
        float: none;
        margin-left: 0;
        margin-top: 0;
    }

    section:nth-of-type(2) .section-content img {
        float: none;
        margin-left: 0;
    }

    section:nth-of-type(4) .section-content img {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
}